version: '2.2'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/pgdata
    networks:
      - db_network

  web:
    build: ./
    command:
      - gunicorn app/main_conf.wsgi:application --bind 0.0.0.0:8000
    restart: always
    volumes:
      - static_volume:/usr/src/app/static
      - media_volume:/usr/src/app/media
    ports:
      - "8000:8000"
    env_file:
      - ./app/.env
    depends_on:
      - postgres
    networks:
      - app_network

  nginx:
    build:
      context: .
      dockerfile: ./nginx.Dockerfile
    restart: always
    ports:
      - "80:80"
    volumes:
      - static_volume:/static
      - media_volume:/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
  postgres_data:
    driver: local

networks:
  db_network:
  app_network:
